# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!assets
!*.md
!*.py
!*.jpg
!*.JPG
!*.svg
!alerts
!binary_sensors
!imageprocessing
!custom_components/*
!custom_components/dlink_hnap/*
!custom_components/eufy_vacuum/*
!custom_components/classificationbox/*
!custom_components/floureon/*
!custom_components/deepstack_object/*
!custom_components/birthdays/*
!custom_components/hildebrandglow/*
!custom_components/weatherbit/*

!notification
!packages
!panels
!python_scripts
!sensors
!switches
!templates
!www


# Ignore folders.
.storage
.cloud
.google.token
icloud
tensorflow
__pycache__

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
secrets_alexa.yaml
known_devices.yaml
ip_resolve.yaml
wol.yaml
